# Ignore everything
*

# But not:
!.gitignore
!*.py
!README.md
!project-tree.md
!requirements.txt

# explicitly allow dirs to be searched for above exceptions
!*/

# Ignore __pycache__ directories and their contents
__pycache__/
**/__pycache__/*

# Ignore .DS_Store 
.DS_Store