# Ignore everything
*

# But not:
!.gitignore
!*.py
!README.md
!project-tree.md
!requirements.txt
!web/static/js/main.js
!web/static/css/styles.css
!web/templates/index.html

# explicitly allow dirs to be searched for above exceptions
!*/

# Ignore __pycache__ directories and their contents
__pycache__/
**/__pycache__/*

# Ignore .DS_Store 
.DS_Store

#

#
venv/